.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.lista {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    margin-left: 5rem;
}

.container {
    position: relative;
    display: inline-block;

    
}

.container__img {
    display: block;
    width: 100vw; 
    height: auto;
}

.container__link {
    position: absolute;
    bottom: 175px;
    left: 115px;
    width: 300px;
    height: 70px;
    background-color: #0057B8;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.container__link:hover {
    background-color: #004a9f;
    transform: scale(1.02);
    cursor: pointer;
}   